rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /authorized_emails/{emailId} {
      allow read, write: if true;
    }

    match /users/{userId} {
      allow read, write: if true;
    }
  }
}
